* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  transition: all .2s linear;
}

*::selection {
  background-color: $yellow-color;
  color: #333;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: $main-color;
  }

  &::-webkit-scrollbar-thumb {
    background: $red-color;
  }
}

body {
  overflow-x: hidden;
  padding-left: 25rem;
  background-color: $main-color;
}

section {
  min-height: 100vh;
  padding: .5rem;
}

.btn {
  padding: .5rem 1.5rem;
  font-size: 1.35rem;
  margin-top: .5rem;
  border-radius: .35rem;
  color: #fff;
  background-color: $red-color;
  cursor: pointer;

  &:hover {
    color: $main-color;
    background-color: #fff;
  }
}

.section-heading {
  text-align: center;
  padding: 1rem;
  margin: 0 3rem;
  font-size: 2rem;
  color: #fff;
  border-bottom: 3px solid $red-color;

  span {
    color: $red-color;
  }
}

